USE [master]
GO
/****** Object:  Database [SchoolERP]    Script Date: 5/15/2026 11:59:59 AM ******/
CREATE DATABASE [SchoolERP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolERP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchoolERP.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolERP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SchoolERP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolERP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolERP]
GO
/****** Object:  Table [dbo].[bonafide]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonafide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NULL,
	[student_id] [int] NULL,
	[bonafide_number] [varchar](50) NULL,
	[purpose] [varchar](200) NULL,
	[date] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_bonafide_number] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[bonafide_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_bonafide_school_number] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[bonafide_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bonafide_email_logs]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonafide_email_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NOT NULL,
	[bonafide_id] [int] NOT NULL,
	[student_email] [nvarchar](255) NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_bonafide_email] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[bonafide_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_otp]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_otp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[otp] [varchar](10) NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[is_used] [bit] NULL,
	[created_at] [datetime] NULL,
	[email] [nvarchar](255) NULL,
	[attempts] [int] NULL,
	[verified_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_logs]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NULL,
	[subscription_id] [int] NULL,
	[plan_id] [int] NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_status] [nvarchar](50) NULL,
	[payment_id] [nvarchar](255) NULL,
	[order_id] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[transaction_type] [nvarchar](100) NULL,
	[payment_gateway] [nvarchar](50) NULL,
	[failure_reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[school_sequences]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[school_sequences](
	[school_id] [int] NOT NULL,
	[tc_last_number] [int] NULL,
	[bonafide_last_number] [int] NULL,
	[admission_last_number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[school_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schools]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schools](
	[school_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[address] [nvarchar](300) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[school_code] [nvarchar](50) NULL,
	[udise_no] [nvarchar](50) NULL,
	[principal_name] [nvarchar](150) NULL,
	[is_active] [bit] NULL,
	[recognition_no] [nvarchar](100) NULL,
	[medium] [nvarchar](50) NULL,
	[school_index_no] [nvarchar](50) NULL,
	[board_name] [nvarchar](100) NULL,
	[logo_path] [nvarchar](255) NULL,
	[watermark_path] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[tc_prefix] [nvarchar](50) NULL,
	[bonafide_prefix] [nvarchar](50) NULL,
	[auto_numbering] [nvarchar](20) NULL,
	[enable_certificate_labels] [nvarchar](20) NULL,
	[enable_import_export] [nvarchar](20) NULL,
	[enable_attendance] [nvarchar](20) NULL,
	[enable_fee_management] [nvarchar](20) NULL,
	[enable_teacher_management] [nvarchar](20) NULL,
	[enable_results] [nvarchar](20) NULL,
	[enable_timetable] [nvarchar](20) NULL,
	[enable_notice_board] [nvarchar](20) NULL,
	[enable_tc_management] [nvarchar](20) NULL,
	[enable_bonafide_management] [nvarchar](20) NULL,
	[show_tc_logo] [varchar](20) NULL,
	[show_tc_watermark] [varchar](20) NULL,
	[show_bonafide_logo] [varchar](20) NULL,
	[show_bonafide_watermark] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[school_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NULL,
	[name] [nvarchar](200) NULL,
	[father_name] [nvarchar](200) NULL,
	[mother_name] [nvarchar](200) NULL,
	[class] [nvarchar](50) NULL,
	[admission_no] [nvarchar](50) NULL,
	[dob] [date] NULL,
	[aadhaar] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
	[birth_place] [nvarchar](100) NULL,
	[nationality] [nvarchar](50) NULL,
	[mother_tongue] [nvarchar](50) NULL,
	[religion] [nvarchar](50) NULL,
	[caste] [nvarchar](50) NULL,
	[city] [nvarchar](100) NULL,
	[taluka] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[state] [nvarchar](100) NULL,
	[admission_date] [date] NULL,
	[section] [nvarchar](10) NULL,
	[previous_school] [nvarchar](200) NULL,
	[last_exam] [nvarchar](100) NULL,
	[result_status] [nvarchar](50) NULL,
	[progress] [nvarchar](100) NULL,
	[conduct] [nvarchar](100) NULL,
	[primary_mobile] [nvarchar](15) NULL,
	[alternate_mobile] [nvarchar](15) NULL,
	[occupation] [nvarchar](100) NULL,
	[income] [nvarchar](50) NULL,
	[guardian_name] [nvarchar](100) NULL,
	[guardian_mobile] [nvarchar](15) NULL,
	[school_register_no] [varchar](50) NULL,
	[student_uid] [varchar](50) NULL,
	[apaar_id] [varchar](50) NULL,
	[email] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_students_school_admission] UNIQUE NONCLUSTERED 
(
	[admission_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscription_email_logs]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscription_email_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NULL,
	[subscription_id] [int] NULL,
	[email_type] [nvarchar](100) NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_subscription_email] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[subscription_id] ASC,
	[email_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscription_plans]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscription_plans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plan_name] [nvarchar](50) NOT NULL,
	[monthly_price] [decimal](10, 2) NOT NULL,
	[yearly_price] [decimal](10, 2) NULL,
	[student_limit] [int] NOT NULL,
	[tc_limit] [int] NOT NULL,
	[bonafide_limit] [int] NOT NULL,
	[staff_limit] [int] NOT NULL,
	[support_type] [nvarchar](50) NULL,
	[storage_limit] [nvarchar](50) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
	[duration_months] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscriptions]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NOT NULL,
	[plan_name] [nvarchar](100) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](20) NULL,
	[amount] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
	[plan_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_backup_logs]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_backup_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[backup_date] [datetime] NULL,
	[backup_type] [varchar](50) NULL,
	[created_by] [int] NULL,
	[backup_file] [nvarchar](255) NULL,
	[backup_status] [nvarchar](50) NULL,
	[backup_size] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[system_name] [varchar](150) NOT NULL,
	[default_language] [varchar](50) NULL,
	[timezone] [varchar](100) NULL,
	[trial_days] [int] NULL,
	[grace_period] [int] NULL,
	[password_length] [int] NULL,
	[login_attempt_limit] [int] NULL,
	[session_timeout] [int] NULL,
	[tc_prefix] [varchar](20) NULL,
	[bonafide_prefix] [varchar](20) NULL,
	[auto_numbering] [varchar](20) NULL,
	[backup_status] [varchar](50) NULL,
	[last_backup] [datetime] NULL,
	[maintenance_mode] [varchar](20) NULL,
	[maintenance_message] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[default_plan_id] [int] NULL,
	[support_email] [varchar](255) NULL,
	[support_phone] [varchar](20) NULL,
	[system_logo] [varchar](255) NULL,
	[payment_gateway] [varchar](50) NULL,
	[razorpay_key_id] [varchar](255) NULL,
	[razorpay_mode] [varchar](20) NULL,
	[currency] [varchar](10) NULL,
	[gst_percentage] [decimal](5, 2) NULL,
	[smtp_email] [varchar](255) NULL,
	[smtp_password] [varchar](255) NULL,
	[smtp_server] [varchar](255) NULL,
	[smtp_port] [int] NULL,
	[smtp_tls] [varchar](10) NULL,
	[enable_attendance] [varchar](10) NULL,
	[enable_fee_management] [varchar](10) NULL,
	[enable_teacher_management] [varchar](10) NULL,
	[enable_results] [varchar](10) NULL,
	[theme_color] [varchar](50) NULL,
	[footer_text] [varchar](255) NULL,
	[erp_version] [varchar](20) NULL,
	[favicon] [varchar](255) NULL,
	[enable_certificate_labels] [varchar](20) NULL,
	[enable_import_export] [nvarchar](20) NULL,
	[enable_timetable] [nvarchar](20) NULL,
	[enable_notice_board] [nvarchar](20) NULL,
	[enable_tc_management] [nvarchar](20) NULL,
	[enable_bonafide_management] [nvarchar](20) NULL,
	[show_tc_logo] [nvarchar](20) NULL,
	[show_tc_watermark] [nvarchar](20) NULL,
	[show_bonafide_logo] [nvarchar](20) NULL,
	[show_bonafide_watermark] [nvarchar](20) NULL,
	[login_page_title] [nvarchar](200) NULL,
	[login_page_subtitle] [nvarchar](500) NULL,
	[primary_color] [nvarchar](50) NULL,
	[secondary_color] [nvarchar](50) NULL,
	[sidebar_color] [nvarchar](50) NULL,
	[navbar_color] [nvarchar](50) NULL,
	[button_color] [nvarchar](50) NULL,
	[system_loader_logo] [nvarchar](255) NULL,
	[powered_by] [nvarchar](255) NULL,
	[copyright_text] [nvarchar](500) NULL,
	[website_url] [nvarchar](255) NULL,
	[enable_branding] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tc]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NULL,
	[student_id] [int] NULL,
	[tc_number] [varchar](50) NULL,
	[tc_date] [date] NULL,
	[leaving_date] [date] NULL,
	[leaving_reason] [varchar](300) NULL,
	[remark] [varchar](300) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_tc_number] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[tc_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tc_school_tcnumber] UNIQUE NONCLUSTERED 
(
	[school_id] ASC,
	[tc_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tc_email_logs]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tc_email_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[school_id] [int] NOT NULL,
	[tc_id] [int] NOT NULL,
	[student_email] [nvarchar](255) NULL,
	[sent_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/15/2026 11:59:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NULL,
	[password] [nvarchar](255) NULL,
	[role] [nvarchar](20) NOT NULL,
	[school_id] [int] NULL,
	[created_at] [datetime] NULL,
	[name] [nvarchar](150) NULL,
	[status] [varchar](20) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[last_login] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[address] [nvarchar](500) NULL,
	[designation] [nvarchar](100) NULL,
	[last_password_change] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_payment_order]    Script Date: 5/15/2026 11:59:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_payment_order] ON [dbo].[payment_logs]
(
	[order_id] ASC
)
WHERE ([order_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_students_apaar]    Script Date: 5/15/2026 11:59:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_students_apaar] ON [dbo].[students]
(
	[apaar_id] ASC
)
WHERE ([apaar_id] IS NOT NULL AND [apaar_id]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_students_register]    Script Date: 5/15/2026 11:59:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_students_register] ON [dbo].[students]
(
	[school_id] ASC,
	[school_register_no] ASC
)
WHERE ([school_register_no] IS NOT NULL AND [school_register_no]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_students_uid]    Script Date: 5/15/2026 11:59:59 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [uq_students_uid] ON [dbo].[students]
(
	[school_id] ASC,
	[student_uid] ASC
)
WHERE ([student_uid] IS NOT NULL AND [student_uid]<>'')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bonafide] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bonafide_email_logs] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[password_reset_otp] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[password_reset_otp] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_reset_otp] ADD  DEFAULT ((0)) FOR [attempts]
GO
ALTER TABLE [dbo].[payment_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_logs] ADD  DEFAULT ('Subscription Renewal') FOR [transaction_type]
GO
ALTER TABLE [dbo].[payment_logs] ADD  DEFAULT ('Razorpay') FOR [payment_gateway]
GO
ALTER TABLE [dbo].[school_sequences] ADD  DEFAULT ((0)) FOR [tc_last_number]
GO
ALTER TABLE [dbo].[school_sequences] ADD  DEFAULT ((0)) FOR [bonafide_last_number]
GO
ALTER TABLE [dbo].[school_sequences] ADD  DEFAULT ((0)) FOR [admission_last_number]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('TC') FOR [tc_prefix]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('BON') FOR [bonafide_prefix]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [auto_numbering]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_certificate_labels]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_import_export]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_attendance]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_fee_management]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_teacher_management]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_results]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_timetable]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_notice_board]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_tc_management]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [enable_bonafide_management]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [show_tc_logo]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [show_tc_watermark]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [show_bonafide_logo]
GO
ALTER TABLE [dbo].[schools] ADD  DEFAULT ('Enabled') FOR [show_bonafide_watermark]
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subscription_email_logs] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[subscription_plans] ADD  DEFAULT ((1)) FOR [duration_months]
GO
ALTER TABLE [dbo].[subscriptions] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_backup_logs] ADD  DEFAULT (getdate()) FOR [backup_date]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('SchoolSphere ERP') FOR [system_name]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('English') FOR [default_language]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Asia/Kolkata') FOR [timezone]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((30)) FOR [trial_days]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((7)) FOR [grace_period]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((8)) FOR [password_length]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((5)) FOR [login_attempt_limit]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ((60)) FOR [session_timeout]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('TC') FOR [tc_prefix]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('BON') FOR [bonafide_prefix]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [auto_numbering]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Safe') FOR [backup_status]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('OFF') FOR [maintenance_mode]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [enable_certificate_labels]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [enable_import_export]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Disabled') FOR [enable_timetable]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Disabled') FOR [enable_notice_board]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [enable_tc_management]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [enable_bonafide_management]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [show_tc_logo]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [show_tc_watermark]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [show_bonafide_logo]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [show_bonafide_watermark]
GO
ALTER TABLE [dbo].[system_settings] ADD  DEFAULT ('Enabled') FOR [enable_branding]
GO
ALTER TABLE [dbo].[tc] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[tc_email_logs] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[bonafide]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([school_id])
GO
ALTER TABLE [dbo].[bonafide]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[students]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([school_id])
GO
ALTER TABLE [dbo].[subscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Subscriptions_Plan] FOREIGN KEY([plan_id])
REFERENCES [dbo].[subscription_plans] ([id])
GO
ALTER TABLE [dbo].[subscriptions] CHECK CONSTRAINT [FK_Subscriptions_Plan]
GO
ALTER TABLE [dbo].[system_settings]  WITH CHECK ADD  CONSTRAINT [FK_SystemSettings_DefaultPlan] FOREIGN KEY([default_plan_id])
REFERENCES [dbo].[subscription_plans] ([id])
GO
ALTER TABLE [dbo].[system_settings] CHECK CONSTRAINT [FK_SystemSettings_DefaultPlan]
GO
ALTER TABLE [dbo].[tc]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([school_id])
GO
ALTER TABLE [dbo].[tc]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([school_id])
REFERENCES [dbo].[schools] ([school_id])
GO
USE [master]
GO
